<div class="container">
    {{Date}}
    <h2>Exercise {{}}</h2>
    <h2>Calories ate {{}}</h2>
    <h2>Today I weight<input name="num" type="number" placeholder="enter weight" required></input>lbs.</h2>
</div>
