<div class="container">
    <h1>{{Date}}</h1>
    <h2>You have burned {{}} calories today.</h2>
    <h2>You have consumed {{}} calories today.</h2>
    <h2>Your calorie deficit is {{}} calories.</h2>
    <h2>Today I weight<input name="num" type="number" placeholder="enter weight" required></input>lbs.</h2>
</div>

<weekly class="sum">
    <h1>Weekly Summary</h1>
    <h2>You have burned {{}} calories this week.</h2>
    <h2>You have consumed {{}} calories this week.</h2>
    <h2>Your weekly calorie deficit is {{}} calories.</h2>
</weekly>
